{% extends "base.html" %}
{% load static %}

{% block title %}Quotes{% endblock %} 

{% block content %}
    <div class="text-center">
        <div>
            <blockquote class="blockquote">
                <p class="quotes-detail">{{quote.content}}</p>
            </blockquote>
                              
            <figcaption class="blockquote-footer" class="fw-bolder" >
                {{quote.author}}
                <cite title="Source Title">{{quote.source}}</cite>
            </figcaption>    
            <hr>
            <p class="mb-20"> Added by {{quote.added_by}}</p>
            <hr>   
            
            
        </div>
        {% if user.id == quote.added_by.id %}
            <div class="btn-group">
                <div>
                    <a href="{% url 'edit-quote' quote.pk %}" class="button">Edit</a>
                <br>
                </div>
                <div>
                    <a href="{% url 'delete-quote' quote.pk %}" class="button">Delete</a>
                </div>
            </div>
        {% endif %}     
    </div>          
{% endblock %}
