{% extends 'base.html' %}
{% load static %}

{% block title %}Quotes{% endblock %} 

{% block content %} 
<div class="container-home">
    
    <section>
        <div class="row">
            <div class="col-md-6" class="justify-content-center">
                <h2 class="home-title">Quotes</h2>
                <p class="home-txt">
                    Home of your favourite quotes.
                </p>
            </div>
            <div class="col-md-6">
                <img src="{% static 'images/hero.webp' %}" class="img-fluid" class="home-img" alt="photo of glasses resting on an open book">
            </div>
          </div>
  
    </section>
    <section>
        <div class="quote-links">
           
        </div>
    </section>
</div>
</body>
{% endblock %}
