{% extends "base.html" %}
{% load static %}

{% block title %}Quotes{% endblock %} 

{% block content %} 
    <div class="row">
        <div class="col-md-6" class="justify-content-center">
            <h2>Quotes</h2>
                {% for quote in quotes %}
                    <div class="quotes">
                        <blockquote class="blockquote">
                        <p>{{quote.content}}</p>
                        </blockquote>
                        <div>
                            <a href="{% url 'detail-quote' quote.pk %}"   
                            class="button">Details</a>
                        </div>
                    </div>     
                {% endfor %}
                <hr>
                {% if is_paginated %}
                <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                    {% if page_obj.has_previous %}
                    <li><a href="?page={{ page_obj.previous_page_number }}" class="button" class="page-link">&laquo; Prev </a></li>
                    {% endif %}
                    {% if page_obj.has_next %}
                    <li><a href="?page={{ page_obj.next_page_number }}" class="button" class="page-link"> Next &raquo;</a></li>
                    {% endif %}
                </ul>
                </nav>    
        </div>
        <div class="col-md-6">
            <img src="{% static 'images/hero.webp' %}" class="img-fluid" class="home-img" alt="photo of glasses resting on an open book">
        </div>
        
    {% endif %}
    </div>

{% endblock %}
