{% extends "base.html" %}
{% load static %}

{% block title %}Quotes{% endblock %} 

{% block content %} 
    <div class="row">
        <div class="col-md-6" class="justify-content-center">
            <h2 class="quote-title">Quotes</h2>
                {% for quote in quotes %}
                    <div class="quotes">
                        <blockquote class="blockquote">
                        <p>{{quote.content}}</p>
                        </blockquote>
                        <div>
                            <a href="{% url 'detail-quote' quote.pk %}"   
                            class="button">Details</a>
                        </div>
                    </div>     
                {% endfor %}
        </div>
        <div class="col-md-6">
            <img src="{% static 'images/hero.webp' %}" class="img-fluid" class="home-img" alt="photo of glasses resting on an open book">
        </div>
    </div>
</body>
{% endblock %}
